<div
  class="wrapper"
  [ngClass]="{
    active: isActive,
  }"
  [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'"
>
  <div class="main-info">
    <p class="main-info__price">
      <span class="main-info__price__value"
        >
        {{
          brand.itinTotalFare.amount | exchange: 'value'
        }}
        {{ brand.itinTotalFare.currencyCode | exchange: 'code' }}</span
      >
      <span class="main-info__price__info"
        >{{
          brand.itinTotalFare.amount | exchange: 'value'
        }}
        {{ brand.itinTotalFare.currencyCode | exchange: 'code' }} {{ sharedService.flightType }} for
        {{ totalPassengers }} {{ totalPassengers > 1 ? 'travelers' : 'traveler' }}</span
      >
    </p>

    <p class="main-info__saver">
      <span class="main-info__saver__type">{{ brand.brandName }}</span>
      <span class="main-info__saver__cabin-class">{{ 'flightResults.cabin' | translate }}: {{ brand.cabinClasse }}</span>
    </p>
  </div>

  <!-- <div class="sub-info">
        <span class="sub-info__title">Seat</span>
        <p class="sub-info__value">
            <img src="assets/icons/dollar-sign-icon.svg" title="Dollar Sign Icon" />
            <span>Seat choice for a fee</span>
        </p>
    </div> -->

  @if (brand.baggageAllowances) {
    <div class="sub-info">
      <span class="sub-info__title">{{ 'flightResults.bags' | translate }}</span>

      @for (baggageAllowanceDetail of brand.baggageAllowances[0].baggageAllowanceDetails; track $index) {
        <div class="sub-info__value">
          <img src="assets/icons/checked-icon.svg" title="Checked Icon" />
          <div>
            {{ baggageAllowanceDetail.baggage === 'CarryOn' ? ('flightResults.carryOn' | translate) : ('flightResults.checkedBags' | translate) }}
            {{ baggageAllowanceDetail.baggageAllowanceInfo.size }}
            {{ baggageAllowanceDetail.baggageAllowanceInfo.unit }}
          </div>
        </div>

        <div
          [ngStyle]="{
            marginBottom: '10px',
          }"
        >
          ({{ baggageAllowanceDetail.flightRoute }})
        </div>
      }
    </div>
  }

  <!-- @if(optionalServices.length) {
        <div class="sub-info">
            <span class="sub-info__title">Other Services</span>

            @for(service of optionalServices; track $index) {
                <p class="sub-info__value">
                    <img src="assets/icons/checked-icon.svg" title="Checked Icon" />
                    <span>{{service}}</span>
                </p>
            }
        </div>
    } -->

  <div class="sub-info">
    <span class="sub-info__title">{{ 'flightResults.flexibility' | translate }}</span>
    <p class="sub-info__value">
      <img src="assets/icons/dollar-sign-icon.svg" title="Dollar Sign Icon" />
      <span>{{
        brand.passengerFareBreakDowns[0].cancelPenaltyDTOs[0].price
          ? ('flightResults.cancellationFeeApplies' | translate)
          : ('flightResults.cancellationFeeNotApplies' | translate)
      }}</span>
    </p>
    <p class="sub-info__value">
      <img src="assets/icons/dollar-sign-icon.svg" title="Dollar Sign Icon" />
      <span>{{
        brand.passengerFareBreakDowns[0].changePenaltyDTOs[0].price ? ('flightResults.changeFeeApplies' | translate) : ('flightResults.changeFeeNotApplies' | translate)
      }}</span>
    </p>
  </div>

  <app-main-button [mainButtonInfo]="selectButton" [title]="'results.card.select' | translate" (clickMainButton)="onClickSelect()" />
</div>
