@import '../../../../../../../sass/variables';
@import '../../../../../../../sass/colors';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .itinerary {
    flex-basis: 45%;
  }

  div {
    flex-grow: 1;
  }
}

.top-info {
  margin: 35px;
  text-align: center;
  &__time {
    text-wrap: nowrap;
    &__date,
    &__cities {
      font-weight: 400;
    }

    &__time {
      font-size: 18px;
      margin-block: 9px;
    }
  }

  &__flight {
    &__duration {
      font-weight: 400;
    }

    &__logo {
      width: 80px;
      object-fit: contain;
      margin-block: 9px;
    }
  }
}
.align-start{
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center !important;
}
.align-end{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.align-center{
  text-align: center !important;
}
.flight-info {
  margin-top: 40px;
  margin-inline: 25px;
  &__title {
    font-size: 22px;
  }

  &__time {
    font-weight: 400;
  }

  &__title,
  &__time {
    text-align: start;
  }

  &__path {
    position: relative;

    margin-left: 33px;

    &__date {
      z-index: 2;
      margin-left: 110px;
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
    }

    &__change {
      margin-block: 12px;
      padding-block: 14px;

      &__time {
        display: flex;
        gap: 3px;
        margin-left: 140px;
        margin-bottom: 10px;
      }

      &__date {
        position: relative;
        z-index: 2;

        display: flex;
        gap: 40px;
        padding: 10px 10px 10px 50px;

        border-bottom-left-radius: $base-radius-small;
        border-bottom-right-radius: $base-radius-small;

        background-color: map-get($map: $colors, $key: 'off-white');
      }
    }
  }
}

.title {
  font-size: 22px;
  text-align: start;
  font-weight: bold;
  margin: 20px;
}

.border {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid map-get($map: $colors, $key: 'secondary');
}

.active {
  border: 1px solid map-get($map: $colors, $key: 'main');
}


@media (max-width:768px){
  .container{
    padding: 0;
    margin: 0;
  }
  .wrapper{
    display: block;
  }
  .flight-info{
    &__time {
      margin-left: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    &__path{
      &__date {
        margin-left: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        margin-inline-start: 22px;
      }
      &__change{
        &__time{
          margin-left: 0;
        }
      }
    }
  }
  .align-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
  }
  .align-end{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .align-center{
    text-align: center !important;
  }

  .border {
    margin: 10px 0 0 0;
    padding: 0 0 10px 0;
  }

}
.flight-info__path__change__time {
  background-color: #fafafa;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
