:host {
  position: sticky;
  top: 75px;
  z-index: 4;
  display: block;

  @media (max-width: 1199px) {
    top: 0;
  }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1f8f0a;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.search-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-grow: 1;
  color: white;
  padding: 4px 8px;
  font-size: 13px;
  cursor: pointer;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flip-horizontal {
  transform: scaleX(-1);
  transition: transform 0.3s ease;
}

.arrow {
  font-size: 13px;
}

.search-toggle {
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (max-width:768px){
  .search-summary{
    justify-content: start;
  }
}