.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #daedfe;
  border-radius: 16px;
  padding: 16px;
  height: 100%;
  width: 100%;

  app-price-panal {
    width: 100%;
  }

  app-baggage-panal {
    width: 100%;
  }

  @media (max-width: 768px) {
    padding: 12px 14px;
    border-radius: 12px;
    gap: 6px;
  }
}