{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "proseWrap": "preserve",
  "endOfLine": "lf"
}
