<main class="container" [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'">
  <div class="wrapper">
    @for (flight of sharedService.selectedFlightItinerary.allJourney.flights; track $index) {
      <div
        [ngClass]="{
          border: sharedService.selectedFlightItinerary.allJourney.flights.length > 1,
          active:
            sharedService.selectedFlightItinerary.allJourney.flights.length > 1 &&
            sharedService.selectedItinerary === $index,
        }"
        class="itinerary"
      >
        @if (flightType === 'roundtrip') {
          <p class="title">
            {{ ($index ? 'flightDetails.itinerary.Arrive' : 'flightDetails.itinerary.Departure') | translate }}
          </p>
        }
          <p class="top-info__flight__duration">Total duration {{ flight.elapsedTime | hourminute }}</p>

        <section class="flight-info">
          @if (flightType !== 'roundtrip') {
            <p class="flight-info__title">{{ 'flightDetails.itinerary.Departure' | translate }}</p>
          }


          <div class="flight-info__path">
            <div class="flight-info__path__date">
              <img
                src="assets/icons/calander-icon.svg"
                title="Calander Icon"
                class="flight-info__path__date__calander"
              />
              <p class="flight-info__path__date__text">{{ flight.flightDTO[0].departureDate | date: 'EEEE dd MMM' : undefined : translate.currentLang === 'ar' ? 'ar-EG' : 'en-US' }}</p>
            </div>

            @for (flightSegment of flight.flightDTO; track flightSegment; let i = $index) {
              <app-flight-path-app
                [flightSegment]="flightSegment"
                [cabinClass]="cabinClass"
                [airlineLogo]="flight.flightAirline.airlineLogo"
                [airlineName]="flight.flightAirline.airlineName"
                [terminal]="flight.flightDTO[0].departureTerminalAirport.airportCode"
              />

              @if (i != flight.flightDTO.length - 1) {
                <div class="flight-info__path__change">
                  <div class="flight-info__path__change__time">
                    <img src="assets/icons/clock-icon.svg" title="Clock Icon" />
                    <p>
                      {{ sharedService.convertTimeToDayAndHour(flightSegment.transitTime) }}
                      {{ 'flightDetails.itinerary.changeIn' | translate }}
                      {{ flightSegment.arrivalTerminalAirport.cityName }}
                    </p>
                  </div>
                  <div class="flight-info__path__change__date">
                    <p *ngIf="getDayDiffBetweenSegments(flight.flightDTO[i].arrivalDate, flight.flightDTO[i + 1].departureDate) > 0">
                      +{{ getDayDiffBetweenSegments(flight.flightDTO[i].arrivalDate, flight.flightDTO[i + 1].departureDate) }}
                      {{translate.currentLang === 'en' ? 'Day' : 'يوم'}}{{ getDayDiffBetweenSegments(flight.flightDTO[i].arrivalDate, flight.flightDTO[i + 1].departureDate) > 1 ? 's' : '' }}</p>
                    <p>{{ flight.flightDTO[i + 1].departureDate | date: 'EEEE dd MMM' : undefined : translate.currentLang === 'ar' ? 'ar-EG' : 'en-US' }}</p>
                  </div>
                </div>
              }
            }
          </div>
        </section>
      </div>
    }
  </div>
</main>
