<main class="container wrapper">
  <section class="row between gap-4 main-sec">
    <h1 class="col-12 col-lg-3">{{ 'about.title' | translate }}</h1>

    <div class="col-12 col-lg-5">
      <h4>{{ 'about.gateway' | translate }}</h4>
      <br />
      <p>{{ 'about.description' | translate }}</p>
    </div>

    <img src="assets/images/about-us/passport.jpg" />
  </section>

  <section class="story-sec">
    <img src="assets/images/about-us/airport.jpg" />

    <div>
      <h1>{{ 'about.storyTitle' | translate }}</h1>
      <br />
      <p>{{ 'about.storyDescription' | translate }}</p>
    </div>
  </section>

  <section class="missions-sec">
    <div class="advantages">
      <div class="advantages__item">
        <img class="advantages__item__icon" src="assets/icons/about-us/shake-green-icon.svg" />
        <div class="advantages__item__text">
          <span>{{ 'about.advantages.exclusiveDeals' | translate }}</span>
          <p>{{ 'about.advantages.exclusiveDealsDesc' | translate }}</p>
        </div>
      </div>

      <div class="advantages__item">
        <img class="advantages__item__icon" src="assets/icons/about-us/like-green-icon.svg" />
        <div class="advantages__item__text">
          <span>{{ 'about.advantages.personalizedRecommendations' | translate }}</span>
          <p>{{ 'about.advantages.personalizedRecommendationsDesc' | translate }}</p>
        </div>
      </div>

      <div class="advantages__item">
        <img class="advantages__item__icon" src="assets/icons/about-us/call-green-icon.svg" />
        <div class="advantages__item__text">
          <span>{{ 'about.advantages.comprehensiveSupport' | translate }}</span>
          <p>{{ 'about.advantages.comprehensiveSupportDesc' | translate }}</p>
        </div>
      </div>
    </div>

    <div class="mission">
      <h1>{{ 'about.missionTitle' | translate }}</h1>
      <p>{{ 'about.missionDescription' | translate }}</p>
      <img src="assets/images/about-us/traveller.jpg" class="col-12 col-lg-5" />
    </div>
  </section>

  <section class="values-sec">
    <h1>{{ 'about.valuesTitle' | translate }}</h1>
    <div class="values row between">
      <div class="values__item col-12 col-md-5 col-lg-4 col-xl-3">
        <img class="values__item__icon" src="assets/icons/about-us/call-icon.svg" />
        <span class="values__item__title">{{ 'about.values.customerCentric' | translate }}</span>
        <p class="values__item__text">{{ 'about.values.customerCentricDesc' | translate }}</p>
      </div>

      <div class="values__item col-12 col-md-5 col-lg-4 col-xl-3">
        <img class="values__item__icon" src="assets/icons/about-us/safety-icon.svg" />
        <span class="values__item__title">{{ 'about.values.integrity' | translate }}</span>
        <p class="values__item__text">{{ 'about.values.integrityDesc' | translate }}</p>
      </div>

      <div class="values__item col-12 col-md-5 col-lg-4 col-xl-3">
        <img class="values__item__icon" src="assets/icons/about-us/safety-icon.svg" />
        <span class="values__item__title">{{ 'about.values.innovation' | translate }}</span>
        <p class="values__item__text">{{ 'about.values.innovationDesc' | translate }}</p>
      </div>

      <div class="values__item col-12 col-md-5 col-lg-4 col-xl-3">
        <img class="values__item__icon" src="assets/icons/about-us/safety-icon.svg" />
        <span class="values__item__title">{{ 'about.values.passionForTravel' | translate }}</span>
        <p class="values__item__text">{{ 'about.values.passionForTravelDesc' | translate }}</p>
      </div>
    </div>
  </section>

  <section class="values-sec">
    <h1>{{ 'about.visionTitle' | translate }}</h1>
    <p>{{ 'about.visionDescription' | translate }}</p>
  </section>
</main>
