.baggage-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 12px;

  .info-badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #daedfe;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .baggage-items {
    display: flex;
    align-items: center;
    gap: 12px;

    .bag-item {
      font-size: 13px;
      font-weight: 600;
      color:black;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
