p {
    flex-basis: 100%;
    display: flex;
    padding: 3px 7px;

    align-items: center;
    gap: 5px;

    font-size: 14px;
    font-weight: 400;
    border: 1px solid #DFDFDF;
    background-color: #FAFAFA;
    border-radius: 1px;
}