<div class="baggage-info">
  <section class="inculded-sec">
    <div class="inculded-sec__header">
      <img src="assets/icons/checked-icon.svg" title="Checked Icon" />
      <span>{{ 'flightDetails.baggage.included' | translate }}</span>
    </div>

    <div *ngFor="let item of sharedService.selectedFlightItinerary.allJourney.flights">
      @if (flightResultService.response?.searchCriteria?.adultNum || searchCriteria?.adultNum || flightCheckoutService.selectedFlight?.searchCriteria?.adultNum) {
        <div class="baggage-line">
          <div class="baggage-type">{{ 'flightDetails.baggage.adultItems' | translate }}</div>
          <div class="baggage-route">
            {{ item.flightDTO[0].departureTerminalAirport.cityName }} - {{ item.flightDTO[item.flightDTO.length - 1].arrivalTerminalAirport.cityName }}
          </div>

          <div class="baggage-entry">
            <img src="assets/icons/travel-bag-icon.svg" alt="" />
            {{ getBaggageCountOnlyOrRaw(sharedService.selectedFlightItinerary.baggageInformation[0].baggage) }} {{ 'flightDetails.baggage.cabin' | translate }}
          </div>

          <div class="hand-baggage">
            <div class="hand-baggage-top">
              <img src="assets/icons/hand-bag-icon.svg" alt="" />
              <span>1 x {{ 'flightDetails.baggage.hand' | translate }}</span>
            </div>
            <div class="hand-baggage-details">(55 x 38 x 20) · 7kg</div>
          </div>
        </div>
      }

      @if (sharedService.selectedFlightItinerary.baggageInformation[0].childBaggage != null) {
        @if (flightResultService.response?.searchCriteria?.childNum || searchCriteria?.childNum || flightCheckoutService.selectedFlight?.searchCriteria?.childNum) {
          <div class="baggage-line">
            <div class="baggage-type">{{ 'flightDetails.baggage.childItems' | translate }}</div>
            <div class="baggage-route">
              {{ item.flightDTO[0].departureTerminalAirport.cityName }} - {{ item.flightDTO[item.flightDTO.length - 1].arrivalTerminalAirport.cityName }}
            </div>

            <div class="baggage-entry">
              <img src="assets/icons/travel-bag-icon.svg" alt="" />
              {{ getBaggageCountOnlyOrRaw(sharedService.selectedFlightItinerary.baggageInformation[0].childBaggage) }} x Checked Baggage
            </div>

            <div class="hand-baggage">
              <div class="hand-baggage-top">
                <img src="assets/icons/hand-bag-icon.svg" alt="" />
                <span>1 x Cabin Baggage</span>
              </div>
              <div class="hand-baggage-details">(55 x 38 x 20) · 7kg</div>
            </div>
          </div>
        }
      }

      @if (sharedService.selectedFlightItinerary.baggageInformation[0].infantBaggage != null) {
        @if (flightResultService.response?.searchCriteria?.infantNum || searchCriteria?.infantNum || flightCheckoutService.selectedFlight?.searchCriteria?.infantNum) {
          <div class="baggage-line">
            <div class="baggage-type">{{ 'flightDetails.baggage.infantItems' | translate }}</div>
            <div class="baggage-route">
              {{ item.flightDTO[0].departureTerminalAirport.cityName }} - {{ item.flightDTO[item.flightDTO.length - 1].arrivalTerminalAirport.cityName }}
            </div>

            <div class="baggage-entry">
              <img src="assets/icons/travel-bag-icon.svg" alt="" />
              {{ getBaggageCountOnlyOrRaw(sharedService.selectedFlightItinerary.baggageInformation[0].infantBaggage) }} x Checked Baggage
            </div>

            <div class="hand-baggage">
              <div class="hand-baggage-top">
                <img src="assets/icons/hand-bag-icon.svg" alt="" />
                <span>1 x Cabin Baggage</span>
              </div>
              <div class="hand-baggage-details">(55 x 38 x 20) · 7kg</div>
            </div>
          </div>
        }
      }
    </div>
  </section>

  <hr class="desktop-only-hr" />

  <p class="baggage-note">
    {{ 'flightDetails.baggage.note' | translate }}
  </p>
</div>
