@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.register {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin: 20px 25px;

  &__header {
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }

  &__form {
    gap: 5px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        text-align: start;
        color: #686872;
      }

      input {
        padding: 15px 25px;
        border: 1px solid map-get($map: $colors, $key: 'gray-border');
        outline: none;

        border-radius: $base-radius-small;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;

    div {
      display: flex;
      align-items: center;

      p {
        cursor: pointer;

        font-size: 14px;
        color: #686872;
        text-align: right;
      }

      input[type='checkbox']:checked {
        background-color: map-get($map: $colors, $key: 'main');
      }
    }

    button {
      position: relative;

      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;

      padding: 10px 20px;
      height: 48px;
      font-weight: bold;
      color: white;
      border: 1px solid transparent;
      border-radius: 50px;
      background-color: map-get($map: $colors, $key: 'main');
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition:
        background-color 0.3s,
        color 0.3s;

      &:hover {
        background-color: white;
        border: 1px solid map-get($map: $colors, $key: 'main');
        color: map-get($map: $colors, $key: 'main');
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 128, 0, 0.8);
      }

      img {
        position: absolute;
        left: 15px;
        width: 25px;
      }
    }

    button.google {
      border-color: map-get($map: $colors, $key: 'gray');
      color: map-get($map: $colors, $key: 'gray');
      background-color: white;
    }

    button.facebook {
      color: white;
      background-color: #1877f2;
    }
  }

  &__footer {
    color: #686872;

    span {
      cursor: pointer;
      color: map-get($map: $colors, $key: 'main');
    }
  }
}

@media (max-width:768px){
  .register{
    margin: 10px 15px;

  }
}
