@if (flights && flights.length) {
  <div class="wrapper" [ngClass]="{ 'scrolled': isScrolled }" (click)="toggle.emit()">
      <!-- @for (flight of flights; track $index) { -->
          <div class="search-summary">
              <span class="city">
                  {{flights[0].flightDTO[0]?.departureTerminalAirport?.cityName}} ({{flights[0].flightDTO[0]?.departureTerminalAirport?.cityCode}})
              </span>

              <span class="arrow" [ngClass]="{ 'flip-horizontal': translate.currentLang === 'ar' }">➔</span>

              <span class="city">
                  {{flights[0].flightDTO[flights[0].flightDTO.length - 1]?.arrivalTerminalAirport?.cityName}} ({{flights[0].flightDTO[flights[0].flightDTO.length - 1]?.arrivalTerminalAirport?.cityCode}})
              </span>

              <div dir="ltr">
                  <span> - {{flights[0].flightDTO[0]?.departureDate | date: 'dd MMM' : undefined : translate.currentLang === 'ar' ? 'ar-EG' : 'en-US'}} - </span>
              </div>

              <div class="passenger" dir="rtl">
                  {{flightResultService.response?.searchCriteria?.totalPassengersNum}} {{ translate.currentLang === 'en' ? 'Pax' : 'راكب'}}
              </div>
          </div>
      <!-- } -->

      <button class="search-toggle" type="button" aria-label="Toggle Search">
       <img src="assets/icons/svgexport-17.svg" alt="Search" width="24" />
      </button>
  </div>
}
