@if (!isLoading && trips.length) {
  <mat-paginator
    [length]="allTrips.length"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    (page)="onPaginate($event.pageIndex)"
    aria-label="Select page"
  />
}

@if (isLoading) {
  <div class="loading-state">
    <mat-spinner color="primary" />
  </div>
}

@if (!isLoading && !trips.length) {
  <p class="empty-state">{{ 'user.flights.empty' | translate }}</p>
}

<main>
  @for (trip of trips; track $index) {
    <app-flight-card [trip]="trip" />
  }
</main>
