<p class="head">{{'searchBox.hotelHead' | translate}}</p>
<div class="hotel-search-container" [formGroup]="searchForm">
  <div class="search-field">
    <app-location-input/>
    <p *ngIf="locationError" class="error-message">{{ locationError }}</p>
  </div>

  <div class="search-field">
    <app-hotel-date-input/>
    <p *ngIf="dateError" class="error-message">{{ dateError }}</p>
  </div>

  <div class="search-field">
    <app-guest-room-selector/>
    <p *ngIf="guestError" class="error-message">{{ guestError }}</p>
  </div>

  <!-- Search Button -->
  <div class="form-group submit-group">
    <app-main-button
      [title]="'searchBox.searchHotels' | translate"
      [mainButtonInfo]="{
        height: '76px',
        borderRadius: '16px',
        fontSize: '16px',
        padding:'16px 8px',
        width:'100%',
        backgroundColor:'#5029f4',
        color:'white'
      }"

      (clickMainButton)="onSubmit()"
    ></app-main-button>
  </div>
</div>
