<div class="text-wrapper">
  <h2>{{ 'home.populerAirlines.title' | translate }}</h2>
</div>

@if (isLoading) {
  <div class="container my-3">
    <app-skeleton-loader height="100px" borderRadius="12px" />
  </div>
} @else {
  <swiper-container #swiperEl slides-per-view="5" space-between="20" autoplay='{"delay": 3500, "disableOnInteraction": false}'>
    @for (airline of popularAirlines; track $index) {
      <swiper-slide>
        <a (click)="navigateToAirline(airline.slug)" class="airline cursor-pointer">
          <img [src]="airline.airlineLogo" [alt]="airline.slug" [title]="airline.slug" />
        </a>
      </swiper-slide>
    }
  </swiper-container>
}