<div class="container user-management">
  <main class="row between">
    <!-- Side Nav -->

    <aside class="col-12 col-md-4 col-xl-3">
      <h1>Contact Info</h1>

      <ul>
        <li>
          <a href="tel:{{ 'footer.contact.phone' | translate }}">
            <img src="assets/icons/contact-us/call-icon.svg" />
            <span>+96566414350</span>
          </a>
        </li>
        <li>
          <a href="https://wa.me/96566414350" target="_blank">
            <img src="assets/icons/contact-us/whatsapp-icon.svg" />
            <span>WhatsApp</span>
          </a>
        </li>
        <li>
          <a href="mailto:gotaj@gmail.com">
            <img src="assets/icons/contact-us/mail-icon.svg" />
            <span>gotaj&commat;gmail.com</span>
          </a>
        </li>
      </ul>

      <hr />

      <p>Social Media</p>

      <div class="links">
        <a href="https://www.facebook.com">
          <img src="assets/icons/contact-us/facebook-icon.svg" />
        </a>
        <a href="https://x.com/GootajInfo">
          <img src="assets/icons/contact-us/linkedin-icon.svg" />
        </a>
        <a href="https://www.instagram.com/gootajinfo/">
          <img src="assets/icons/contact-us/insta-icon.svg" />
        </a>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.797281340866!2d47.9619108!3d29.2736705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf9b0b8e604495%3A0x3f653160abef7ceb!2z2YXYs9iq2LTYp9ihINiz2YrYqNinINin2YTYp9mB2Yog2KfZhNmG2YTYqti5!5e0!3m2!1sen!2seg!4v1710161869275"
        width="100%"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </aside>

    <!-- Content -->

    <section class="col-12 col-md-7 col-xl-8">
      <h1>Send a Message</h1>

      <div class="wrapper">
        <form>
          <div class="custom-radio-group">
            <div>
              <label>First Name</label>

              <div class="custom-input-container">
                <input type="text" placeholder="First Name" />
              </div>
            </div>

            <div>
              <label>Last Name</label>

              <div class="custom-input-container">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>

            <div>
              <label>Phone Number</label>

              <div class="custom-input-container">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>

            <div>
              <label>Gmail</label>
              <div class="custom-input-container">
                <span class="input-icon">
                  <img src="assets/icons/email-icon.svg" alt="icon" />
                </span>

                <input type="text" placeholder="Email" />
              </div>
            </div>

            <div>
              <label>How can we help you?</label>
              <div class="custom-input-container">
                <textarea rows="10"></textarea>
              </div>
            </div>
          </div>
        </form>

        <div class="actions">
          <app-main-button [mainButtonInfo]="sendButton" [title]="'Send'" />
        </div>
      </div>
    </section>
  </main>
</div>
