<div class="container user-management">
  <main class="row between">
    <!-- Side Nav -->

    <aside class="col-12 col-md-4 col-xl-3">
      <h1>{{ 'contact.info' | translate }}</h1>

      <ul>
        <li>
          <a href="tel:{{ 'footer.contact.phone' | translate }}">
            <img src="assets/icons/contact-us/call-icon.svg" />
            <span>+97166414350</span>
          </a>
        </li>
        <li>
          <a href="https://wa.me/97166414350" target="_blank">
            <img src="assets/icons/contact-us/whatsapp-icon.svg" />
            <span>WhatsApp</span>
          </a>
        </li>
        <li>
          <a href="mailto:info@orhas.com">
            <img src="assets/icons/contact-us/mail-icon.svg" />
            <span>info&commat;orhas.com</span>
          </a>
        </li>
      </ul>

      <hr />

      <p>{{ 'contact.socialMedia' | translate }}</p>

      <div class="links">
        <a href="https://www.facebook.com">
          <img src="assets/icons/contact-us/facebook-icon.svg" />
        </a>
        <a href="https://x.com/orhasInfo">
          <img src="assets/icons/contact-us/linkedin-icon.svg" />
        </a>
        <a href="https://www.instagram.com/orhasinfo/">
          <img src="assets/icons/contact-us/insta-icon.svg" />
        </a>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462563.0328120352!2d54.89781729299607!3d25.075658370297962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sus!4v1787485838397!5m2!1sen!2sus"
        width="100%"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      
    </aside>

    <!-- Content -->

    <section class="col-12 col-md-7 col-xl-8">
      <h1>{{ 'contact.sendMessage' | translate }}</h1>

      <div class="wrapper">
        <form>
          <div class="custom-radio-group">
            <div>
              <label>{{ 'contact.firstName' | translate }}</label>

              <div class="custom-input-container">
                <input type="text" [placeholder]="'contact.firstName' | translate" />
              </div>
            </div>

            <div>
              <label>{{ 'contact.lastName' | translate }}</label>

              <div class="custom-input-container">
                <input type="text" [placeholder]="'contact.lastName' | translate" />
              </div>
            </div>

            <div>
              <label>{{ 'contact.phoneNumber' | translate }}</label>

              <div class="custom-input-container">
                <input type="text" [placeholder]="'contact.phoneNumber' | translate" />
              </div>
            </div>

            <div>
              <label>{{ 'contact.email' | translate }}</label>
              <div class="custom-input-container">
                <span class="input-icon">
                  <img src="assets/icons/email-icon.svg" alt="icon" />
                </span>

                <input type="text" [placeholder]="'contact.email' | translate" />
              </div>
            </div>

            <div>
              <label>{{ 'contact.howCanWeHelp' | translate }}</label>
              <div class="custom-input-container">
                <textarea rows="10"></textarea>
              </div>
            </div>
          </div>
        </form>

        <div class="actions">
          <app-main-button [mainButtonInfo]="sendButton" [title]="'contact.send' | translate" />
        </div>
      </div>
    </section>
  </main>
</div>
