@import '../../../../../../../sass/variables';
@import '../../../../../../../sass/colors';

.calander {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  box-sizing: border-box;

  padding: 8px 12px;
  font-size: 14px;

  cursor: pointer;

  &__placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #646081;
    margin-bottom: 0 !important;
  }

  &__date {
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin: 0;
    color: #111;
  }

  &__day {
    display: none;
    font-size: 12px;
    font-weight: 600;
    color: #777;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:host-context(html.dark) {
  .calander__date,
  .custom-input {
    color: #ffffff;
  }

  .calander__placeholder,
  .calander__day {
    color: #9a97ae;
  }
}