<section class="info-section col-12 col-lg-4">
    <img [src]="package?.Rooms?.[0]?.Images?.[index < (package?.Rooms?.[0]?.Images?.length || 0) ? index : 0] || package?.Rooms?.[0]?.Images?.[0] || 'assets/images/hotels/hotel-replacement.webp'" (error)="$any($event.target).src = 'assets/images/hotels/hotel-replacement.webp'" class="room-image" />

    <p class="title">{{ package?.Rooms?.[0]?.RoomType }}</p>
</section>

<section class="book-section col-12 col-lg-8">
    @for (room of package?.Rooms; track $index) {
        <article>
            @switch(room.RoomMeal) {
                @case('Room_Only') {
                    <p class="tag">
                        <img src="assets/icons/hotels/stop.svg" />
                        {{ ("hotelRooms.No meals included" | translate) }}
                    </p>
                }
                @case('BreakFast') {
                    <p class="tag">
                        <img src="assets/icons/hotels/dinnar.svg" />
                        {{ ("hotelRooms.Breackfast included" | translate) }}
                    </p>
                }
                @case('Half_Board') {
                    <p class="tag">
                        <img src="assets/icons/hotels/dinnar.svg" />
                        {{ ("hotelRooms.Meals included" | translate) }}
                    </p>
                }
                @default {
                    <p class="tag">
                        <img src="assets/icons/hotels/dinnar.svg" />
                        {{ room.RoomMeal }}
                    </p>
                }
            }

            @if(room.IsRefundable) {
                <p class="tag green">
                    <img src="assets/icons/hotels/x-icon.svg" />
                    {{ ("hotelRooms.Refundable" | translate) }}
                </p>
            } @else {
                <p class="tag red">
                    <img src="assets/icons/hotels/x-icon.svg" />
                    {{ ("hotelRooms.Nun-refundable" | translate) }}
                </p>
            }

            @if (getCancellationRules(room); as rules) {
                <p class="tag blue cursor-pointer" (click)="openCancellationModal(rules)" style="cursor: pointer; display: inline-flex; align-items: center; gap: 4px;">
                    <span class="text-decoration-underline">{{ ("hotelRooms.Cancellation Policy" | translate) }}</span>
                </p>
            }
            <div>
                <p>{{ currency | exchange: 'code' }} <span class="price">{{ room.TotalSellPrice | exchange: 'value' | number: '1.0-0' }}</span></p>
                <p>{{ ("hotelCheckout.Includes" | translate) }} {{ room.Paxs || (room.Adult + room.Child) }} {{ ("hotelCheckout.guests" | translate) }}</p>
            </div>

            @if (package?.Rooms?.length === 1) {
                <app-secondary-button (clickSecondaryButton)="onSelectRoom(package.PackageKey || room.PackageNO)" [title]="'hotelRooms.Book Now' | translate" [secondaryButtonInfo]="bookNowButton" />
            }
        </article>

        @if($index !== (package.Rooms.length - 1)) {
            <hr />
        }
    }

    @if ((package?.Rooms?.length || 0) > 1) {
        <article class="mt-3 pt-2">
            <div>
                <p>{{ currency | exchange: 'code' }} <span class="price">{{ package.TotalSellPrice | exchange: 'value' | number: '1.0-0' }}</span></p>
                <p>{{ nights }}, {{ guests }}</p>
            </div>
            <app-secondary-button (clickSecondaryButton)="onSelectRoom(package.PackageKey || package.Rooms?.[0]?.PackageNO)" [title]="'hotelRooms.Book Now' | translate" [secondaryButtonInfo]="bookNowButton" />
        </article>
    }
</section>

<section class="amenities-section col-12">
    @for (amenity of (amenities | slice: 0 : 9); track $index) {
        <p>
            <img src="assets/icons/hotels/check.svg" />
            {{ amenity.Amenity }}
        </p>
    }

    <a (click)="showAllAmenities(amenities)">{{ ("hotelRooms.View more amenities" | translate) }}</a>
</section>
