<app-input-header
[headerTitle]="(data.destination === 'departing' ? 'searchBox.leaving' : 'searchBox.arriving') | translate"
(onClickClose)="data.dismiss()"
/>

<div class="input-wrapper">
<input
  type="text"
  class="form-control"
  aria-label="City"
  matInput
  [placeholder]="'searchBox.placeholder' | translate"
  (input)="onInputDirection($event)"
/>
<hr />
</div>


<div>
@if (isLoading) {
  @for (loader of [1, 2, 3, 4, 5]; track $index) {
    <div class="skeleton-container">
      <div class="loader-circle skeleton"></div>
      <div class="loader-content skeleton"></div>
    </div>
  }
} @else {
  @if (!cities.length || !data.flightItem.get(data.destination)?.value) {
    <h4 class="text-center">{{ 'searchBox.recommendedAirports' | translate }}</h4>
  }

  @for (airport of (cities.length && data.flightItem.get(data.destination)?.value
      ? cities
      : getRecommendedAirports()
    ) | limitTo: 5; track $index) {
    <mat-option
      [value]="airport[sharedService.lang].cityName + ',' + airport[sharedService.lang].airportCode"
      (click)="assignCountriesForMobile(airport[sharedService.lang].cityName + ',' + airport[sharedService.lang].airportCode, data.destination, airport, data.index)"
    >
      <div class="airport-item" [dir]="translate.currentLang === 'en' ? 'ltr' : 'rtl'">
          <img
          width="40"
            [src]="
              data.destination === 'departing'
                ? 'assets/images/search-box/depart-icon.png'
                : 'assets/images/search-box/landing-icon.png'
            "
          />

        <span>
          (
          <span [innerHTML]="airport[sharedService.lang].airportCode | highlighter: data.flightItem.get(data.destination)?.value"></span>
          )
        </span>
        <span>-</span>
        <span [innerHTML]="airport[sharedService.lang].airportName | highlighter: data.flightItem.get(data.destination)?.value"></span>
        <!-- -
        <span [innerHTML]="airport.countryName | highlighter: data.flightItem.get(data.destination)?.value"></span> -->
      </div>
    </mat-option>
  } @empty {
    <div class="no-search-results">{{ 'searchBox.noSearchResults' | translate }}</div>
  }
}
</div>