<div class="payment-dialog">
  <img
    [src]=" isSuccess ? 'assets/icons/modals-icons/success-payment.svg' : 'assets/images/failed.png'"
    [alt]="isSuccess ? 'Success' : 'Failed'"
    class="payment-dialog__icon"
  />

  <div class="payment-dialog__text">
    <p class="payment-dialog__text__title">{{ isSuccess ? ('checkout.payment.successTitle' | translate) : ('checkout.payment.errorTitle' | translate) }}</p>
    <p class="payment-dialog__text__content">
      {{
        isSuccess
          ? ('checkout.payment.successMessage' | translate)
          : ('checkout.payment.errorMessage' | translate)
      }}
    </p>
  </div>

  <button
    class="payment-dialog__btn"
    [ngClass]="{
      success: isSuccess,
      faild: !isSuccess,
    }"
    (click)="isSuccess ? placeholder() : closeModal()"
  >
    {{ isSuccess ? ('checkout.payment.seeConfirmation' | translate) : ('checkout.payment.tryAgain' | translate) }}
  </button>
</div>

