@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

form {
  overflow: visible;
}

.airline-logo{
  position: absolute;
  right: 0;

  @media (max-width:768px) {
    position: relative;
  }

  &.ar{
    right: auto !important;
    left: 0;
  }
}

.airline-logo img{
  width: 150px;
  height: auto;
  max-height: 75px;
  object-fit: contain;
  margin-top: -7px;
}

.radio-buttons {
  display: flex;
  margin-bottom: 14px;
  gap: 18px;

  font-size: 16px;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 14px;
    gap: 8px 16px;
  }
}

::ng-deep .mdc-form-field > label {
  margin-inline-start: 2px !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #3a3850;
}

::ng-deep .radio-buttons {
  .mdc-radio__outer-circle {
    border-color: #c7c4d8 !important;
  }

  .mdc-radio--checked .mdc-radio__outer-circle,
  .mdc-radio--checked .mdc-radio__inner-circle {
    border-color: #5029f4 !important;
  }

  .mdc-radio__inner-circle {
    background-color: #5029f4 !important;
  }
}