<form [formGroup]="flightSearchService.searchFlight">
  <div>
    <mat-radio-group aria-label="Flight-Type" formControlName="flightType" class="radio-buttons" color="primary">
      <mat-radio-button value="OneWay" (click)="selectFlightType('OneWay')">{{
        'home.search.oneWay' | translate
      }}</mat-radio-button>
      <mat-radio-button value="RoundTrip" (click)="selectFlightType('RoundTrip')" #roundTripRadio>{{
        'home.search.roundTrip' | translate
      }}</mat-radio-button>
      <mat-radio-button value="MultiCity" (click)="selectFlightType('MultiCity')">{{
        'home.search.multiCity' | translate
      }}</mat-radio-button>
      @if(airlineLogo){
        <div class="airline-logo" [class.ar]="lang.currentLang === 'ar'">
          <img [src]="airlineLogo" alt="airlineLogo">
        </div>
      }
    </mat-radio-group>
  </div>
  <div class="mt-3 mb-4">
    @switch (flightSearchService.searchFlight.get('flightType')?.value) {
      @case ('OneWay') {
        <app-flight-search-inputs
          [flightType]="'one-way'"
          (addReturnClicked)="roundTripRadio.checked = true; onAddReturnClicked()"
        />
      }
      @case ('RoundTrip') {
        <app-flight-search-inputs [flightType]="'round-trip'" />
      }
      @case ('MultiCity') {
        <app-flight-search-inputs [flightType]="'multi-city'" />
      }
      @default {
        <span>None</span>
      }
    }
  </div>
</form>
