@import 'variables';

$orange: (
  'one': $orange-one,
);

$green: (
  'one': $green-one,
  'two': $green-two,
  'three': $green-three,
  'four': $green-four,
);

$blue: (
  'one': $blue-one,
  'two': $blue-two,
  'three': $blue-three,
);

$red: (
  'one': $red-one,
  'two': $red-two,
);
