/* Colors */
$orange-one: #fa6121;

$green-one: #66a928;
$green-two: #21910a;
$green-three: #1f8f0a;
$green-four: #f0fff1;

$blue-one: #466289;
$blue-two: #627894;
$blue-three: #3e7dc3;

$red-one: #f71c1c;
$red-two: #f60d0d;

/* Break Points */

$web-view-break-point: 1180px;
