<div class="ad-card">
  <div class="ad-card__bannar">
    <img src="assets/images/mobile-page.png" title="Mobile App Preview" class="ad-card__bannar__mobile-img" />
  </div>

  <div class="ad-card__info">
    <h2 class="ad-card__info__title">{{ 'home.adContent.title' | translate }}</h2>

    <div class="ad-card__info__paragraphs">
      @for (feature of features; track $index) {
        <div class="ad-card__info__paragraphs__container">
          <img
            src="assets/icons/home-icons/check-icon.svg"
            title="Check Icon"
            class="ad-card__info__paragraphs__container__icon"
          />
          <p class="ad-card__info__paragraphs__container__text">{{ feature }}</p>
        </div>
      }
    </div>

    <div class="ad-card__info__apps">
      <p class="ad-card__info__apps__title">{{ 'home.adContent.scanToDownload' | translate }}</p>
      <div class="ad-card__info__apps__icons">
        <img src="assets/icons/home-icons/qr-code-icon.svg" title="QR Code" class="ad-card__info__apps__icons__qr" />
        <div class="ad-card__info__apps__icons__stores">
          <img
            src="assets/icons/home-icons/google-play-icon.svg"
            title="Google Play"
            class="ad-card__info__apps__store-badge"
          />
          <img
            src="assets/icons/home-icons/app-store-icon.svg"
            title="App Store"
            class="ad-card__info__apps__store-badge"
          />
          <img
            src="assets/icons/home-icons/app-gallery-icon.svg"
            title="App Gallery"
            class="ad-card__info__apps__store-badge"
          />
        </div>
      </div>
    </div>
  </div>
</div>
