<div class="steps" [ngClass]="{'isScrolled':isScrolled}">
  <p class="activated">{{ 'checkout.travelerDetails' | translate }}</p>
  <img src="assets/icons/right-arrow-blue-icon.svg" [class.flip-icon]="translateService.currentLang === 'ar'"  title="Arrow" />
  <p
    [ngClass]="{
      activated: sharedService.checkoutSteps >= 1,
    }"
  >
    {{ 'checkout.review' | translate }}
  </p>
  <img
    [src]="'assets/icons/right-arrow-' + (sharedService.checkoutSteps >= 1 ? 'green-icon.svg' : 'gray-icon.svg')"
    title="Arrow"
    [class.flip-icon]="translateService.currentLang === 'ar'"
  />
  <p
    [ngClass]="{
      activated: sharedService.checkoutSteps >= 2,
    }"
  >
    {{ 'checkout.paymentStep' | translate }}
  </p>
</div>
