@import '../../../../../../../../sass/variables';
@import '../../../../../../../../sass/colors';

.price {
  border: 1px solid map-get($map: $colors, $key: 'gray-border');
  padding: 8px;
  border-radius: $base-radius-tiny;

  &__title,
  &__value span {
    font-size: 12px;
    font-weight: 400;
  }

  &__value {
    margin-top: 10px;

    display: flex;
    align-items: end;
    gap: 5px;
  }
}
