<div class="flight-path">
  <div class="flight-path__right">
    <div class="flight-path__right__city">
      <p class="flight-path__right__city__name">{{ deptCityName }}</p>
      <p class="flight-path__right__city__airport">{{ deptAirportName }} <span class="terminal-style" *ngIf="flightSegment.departureTerminalAirport.terminal">{{'flightDetails.itinerary.terminal' | translate}} {{flightSegment.departureTerminalAirport.terminal}}</span></p>
    </div>

    <div class="flight-path__right__airport">
      <img [src]="airlineLogo" title="Airport Logo" class="flight-path__right__airport__logo" />
      <div class="flight-path__right__airport__text">
        <p class="flight-path__right__airport__text__title">{{ airlineName }}</p>
        <p class="flight-path__right__airport__text__class">
          {{ 'flightDetails.itinerary.' + cabinClass | translate }}
        </p>
      </div>
    </div>

    <div class="flight-path__right__city">
      <p class="flight-path__right__city__name">{{ arrivalCityName }}</p>
      <p class="flight-path__right__city__airport">{{ arrivalAirportName }} <span class="terminal-style" *ngIf="flightSegment.arrivalTerminalAirport.terminal">{{'flightDetails.itinerary.terminal' | translate}} {{flightSegment.arrivalTerminalAirport.terminal}}</span></p>
    </div>
  </div>

  <div class="flight-path__middle">
    <div class="flight-path__middle__dashed-line"></div>

    <div class="flight-path__middle__circle"></div>
    <div class="flight-path__middle__line"></div>
    <img src="assets/icons/flight-icon.svg" title="Flight Icon" class="flight-path__middle__flight-icon" />
    <div class="flight-path__middle__line"></div>
    <div class="flight-path__middle__circle"></div>
  </div>

  <div class="flight-path__left">
    <p class="flight-path__left__time">{{ deptDate | date: 'hh:mm a' : undefined : translate.currentLang === 'ar' ? 'ar-EG' : 'en-US' }}</p>
    <p class="flight-path__left__duration">{{ segmentDuration | hourminute }}</p>
    <p class="flight-path__left__timee">{{ landDate | date: 'hh:mm a' : undefined : translate.currentLang === 'ar' ? 'ar-EG' : 'en-US' }}</p>
    <p></p>
  </div>
</div>
