@import '../../../../../../sass/variables';
@import '../../../../../../sass/colors';

.steps {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  color: map-get($map: $colors, $key: 'gray');
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: $base-radius-small;
  margin-top: 50px;
  margin-bottom: 55px;
}

.activated {
  color: map-get($map: $colors, $key: 'main');
}