<div class="stops">
  <div class="stops__title">
    <img src="assets/icons/stopage-plane-icon.svg" title="Stop Plane" class="stops__title__icon" />
    <span class="stops__title__name">Stopage</span>
  </div>

  <div class="stops__info">
    <span class="stops__info__city-code">DAS</span>
    <span class="stops__info__divider">|</span>
    <span class="stops__info__time">2h 15 min</span>
  </div>

  <div class="stops__info">
    <span class="stops__info__city-code">DAS</span>
    <span class="stops__info__divider">|</span>
    <span class="stops__info__time">2h 15 min</span>
  </div>

  <div>
    <p>Cabin Class: A</p>
    <p>20 kg</p>
  </div>
</div>
