@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.search-box-header {
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &__list {
    display: inline-flex;
    gap: 20px;

    padding: 10px 14px;
    list-style-type: none;
    margin: 0;

    @media (max-width: 992px) {
      padding: 6px 10px;
      font-size: 12px;
    }

    font-size: 14px;
    font-weight: 700;

    &__item {
      cursor: pointer;
      padding: 12px 27px;
      border-radius: 20px;
      transition: all 0.15s;
      color: #333;
      background-color: white;

      @media (max-width: 992px) {
        padding: 4px 10px;
      }

      &:hover {
        background-color: map-get($map: $colors, $key: 'secondary');
        border-color: map-get($map: $colors, $key: 'secondary');
        color: white;
      }

      div {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    &__item.active {
      background-color: map-get($map: $colors, $key: 'secondary');
      border-color: map-get($map: $colors, $key: 'secondary');
      color: white;
    }
  }
}

::ng-deep mat-tab-header {
  display: none !important; /* Hides the label content */
}
