@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.search-box-header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  &__list {
    display: inline-flex;
    gap: 30px;

    padding: 10px 14px;
    list-style-type: none;
    margin: 0;
    backdrop-filter: blur(31.2000007629px);
    background: hsla(0, 0%, 100%, .4);
    border: 1px solid hsla(0, 0%, 100%, .27);
    border-radius: 7px;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      padding: 6px 10px;
      font-size: 12px;
    }

    font-size: 14px;
    font-weight: 700;

    &__item {
      cursor: pointer;
      padding: 12px 27px;
      border-radius: 6px;
      transition: all 0.15s;
      color: black;
      background-color: transparent;

      @media (max-width: 992px) {
        padding: 4px 10px;
      }

      div {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

    &__item.active {
      background-color: map-get($map: $colors, $key: 'main');
      border-color: map-get($map: $colors, $key: 'main');
      transition: background-color 0.2s ease;
      color: white;
    }
  }
}

::ng-deep mat-tab-header {
  display: none !important; /* Hides the label content */
}
