.search-box-header {
  font-family: 'Plus Jakarta Sans', sans-serif;

  &__list {
    display: flex;
    gap: 8px;
    align-items: center;
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;

    &__item {
      flex: 0 0 auto;
      padding: 8px 16px;
      border-radius: 10px;
      color: #4e4866;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      white-space: nowrap;

      &.active {
        background: #1a191e;
        color: #ffffff;
      }
    }
  }
}

:host-context(html.dark) .search-box-header__list__item.active {
  background: #5029f4;
}
