.sort-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  gap: 16px;

  &__title {
    font-size: 15px;
    font-weight: 600;
    color: #0f172a;
  }

  &__number {
    font-size: 15px;
    font-weight: 600;
    color: #0f172a;
  }

  &.active {
    background-color: #daedfe;

    .sort-item__title,
    .sort-item__number {
      color: #213567;
      font-weight: 700;
    }
  }

  &:hover:not(.active) {
    background-color: #f8fafc;
  }
}
