@import '../../../../../../../sass/variables';
@import '../../../../../../../sass/colors';

.baggage-info {


  p {
    font-weight: 400;
  }

  .inculded-sec {
    &__header {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-bottom: 8px;
    }

    &__baggage {
      margin-left: 30px;
      &__info {
        display: flex;
        align-items: start;
      }
    }
    span{
  font-size: 20px !important;
  font-weight: 600;
    }
  }

  .not-possible-sec {
    &__header {
      display: flex;
      align-items: center;
      gap: 3px;

      &__icon {
        cursor: default;

        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 0;
        font-size: 12px;

        width: 20px;
        height: 20px;

        border-radius: 50%;
        border: 1px solid black;
      }
    }

    &__baggage {
      display: flex;
      align-items: center;
      gap: 3px;
      margin-left: 30px;
      margin-block: 10px;
    }

    &__info {
      display: flex;
      align-items: start;
      gap: 5px;
      margin-left: 30px;
      padding: 18px;
      font-weight: 400;
      border-radius: 6px;
      border: 1px solid map-get($map: $colors, $key: 'main');
    }
  }
}

.wrapper,
.baggage-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.wrapper {
  justify-content: space-between;
  padding: 11px 15px;
}

// @media (max-width: $web-view-break-point) {
//   .baggage-info {
//     padding: 10px;
//     margin: 10px 0 0 0;
//   }
// }



.baggage-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-bottom: 16px;
  font-size: 0.8rem;
}

.baggage-entry,
.hand-baggage-top {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hand-baggage {
  display: flex;
  flex-direction: column;
}

.hand-baggage-details {
  font-size: 13px;
}
.baggage-entry,
.hand-baggage{
    direction: ltr;

  [dir='rtl'] & {
    direction: rtl;
  }
}

@media (max-width:768px){
  .baggage-line{
    flex-direction: column;
    align-items: start;
  }
  .inculded-sec{
    &__header{
      justify-content: start;
    }
  }
}
