<div class="login">
  <header class="login__header">
    <h2 class="login__header__title">{{ 'user.login.title' | translate }}</h2>
    <img src="assets/icons/x-icon.svg" title="Exit Icon" (click)="sharedService.isLogInSheetShowed = false" />
  </header>

  <form class="login__form" [formGroup]="authService.loginForm">
    <div class="login__form__input">
      <label>{{ 'user.login.emailLabel' | translate }}</label>
      <input type="text" [placeholder]="'user.login.emailPlaceholder' | translate" formControlName="email" />

      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <p class="validation-msg">
          {{ getEmailErrorMessage(loginForm.get('email')!, lang) }}
        </p>
      }
    </div>

    <div class="login__form__input">
      <label>{{ 'user.login.passwordLabel' | translate }}</label>
      <input type="password" [placeholder]="'user.login.passwordPlaceholder' | translate" formControlName="password" />

      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <p class="validation-msg">
          {{ getPasswordErrorMessage(loginForm.get('password')!, lang, false) }}
        </p>
      }
    </div>

    @if (error) {
      <p class="validation-msg">
        {{ 'user.login.invalidUserError' | translate }}
      </p>
    } @else {
      <p
        class="validation-msg"
        [ngStyle]="{
          visibility: 'hidden',
        }"
      >
        {{ 'user.login.errorMessagePlaceholder' | translate }}
      </p>
    }
  </form>

  <div class="login__actions">
    <p (click)="goToRestPassword($event)">{{ 'user.login.forgotPassword' | translate }}</p>
    <button (click)="onSubmit()" [disabled]="isLoading || loginForm.invalid">
      @if (!isLoading) {
        {{ 'user.login.signIn' | translate }}
      } @else {
        <mat-spinner diameter="20" color="accent"></mat-spinner>
      }
    </button>
    <button class="google" (click)="googleLoginSubmit()">
      <img src="assets/icons/google-icon.svg" title="Google Icon" />
      {{ 'user.login.signInWithGoogle' | translate }}
    </button>
  </div>

  <footer class="login__footer">
    {{ 'user.login.noAccount' | translate }}
    <span (click)="goToSignUp($event)">{{ 'user.login.signUp' | translate }}</span>
  </footer>
</div>
