@if (isSuccessfullyReset) {
  <div class="forget">
    <div class="forget__icon">
      <img src="assets/icons/sheets/success-icon.svg" title="Success Icon" />
    </div>

    <h2 class="forget__title">{{ 'user.forgetPassword.successTitle' | translate }}</h2>

    <p>
      {{ 'user.forgetPassword.successMessage' | translate }}
    </p>

    <button (click)="sharedService.isForgetPasswordSheetShowed = false">
      {{ 'user.forgetPassword.continueButton' | translate }}
    </button>

    <footer class="forget__footer" (click)="goToSignIn($event)">
      <img src="assets/icons/sheets/left-arrow-icon.svg" title="Go Back" />
      {{ 'user.forgetPassword.backToLogin' | translate }}
    </footer>
  </div>
} @else {
  <div class="forget">
    <div class="forget__icon">
      <img src="assets/icons/sheets/key-icon.svg" title="Key Icon" />
    </div>

    <h2 class="forget__title">{{ 'user.forgetPassword.setNewPasswordTitle' | translate }}</h2>

    <p>
      {{ 'user.forgetPassword.setNewPasswordMessage' | translate }}
    </p>

    <form class="forget__form" [formGroup]="resetPasswordForm">
      <div class="forget__form__input">
        <label>{{ 'user.forgetPassword.newPasswordLabel' | translate }}</label>
        <input
          type="password"
          [placeholder]="'user.forgetPassword.newPasswordPlaceholder' | translate"
          formControlName="newPassword"
        />

        @if (resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched) {
          <p
            [ngStyle]="{
              visibility: 'visible',
            }"
            class="validation-msg"
          >
            {{ getPasswordErrorMessage(resetPasswordForm.get('newPassword')!, lang) }}
          </p>
        } @else {
          <p
            [ngStyle]="{
              visibility: 'hidden',
            }"
            class="validation-msg"
          >
            Error Message Placeholder
          </p>
        }
      </div>

      <div class="forget__form__input">
        <label>{{ 'user.forgetPassword.confirmPasswordLabel' | translate }}</label>
        <input
          type="password"
          [placeholder]="'user.forgetPassword.confirmPasswordPlaceholder' | translate"
          formControlName="confirmPassword"
        />

        @if (
          resetPasswordForm.errors &&
          (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('newPassword')?.touched)
        ) {
          <p
            [ngStyle]="{
              visibility: 'visible',
            }"
            class="validation-msg"
          >
            {{ 'user.forgetPassword.passwordMismatchError' | translate }}
          </p>
        } @else {
          <p
            [ngStyle]="{
              visibility: 'hidden',
            }"
            class="validation-msg"
          >
            Error Message Placeholder
          </p>
        }
      </div>

      @if (error) {
        <p
          [ngStyle]="{
            visibility: 'visible',
          }"
          class="validation-msg"
        >
          {{ 'user.forgetPassword.generalError' | translate }}
        </p>
      } @else {
        <p
          [ngStyle]="{
            visibility: 'hidden',
          }"
          class="validation-msg"
        >
          Error Message Placeholder
        </p>
      }
    </form>

    <button (click)="onReset()" [disabled]="isLoading || resetPasswordForm.invalid">
      @if (!isLoading) {
        {{ 'user.forgetPassword.resetPasswordButton' | translate }}
      } @else {
        <mat-spinner diameter="20" color="accent"></mat-spinner>
      }
    </button>

    <footer class="forget__footer" (click)="goToSignIn($event)">
      <img src="assets/icons/sheets/left-arrow-icon.svg" title="Go Back" />
      {{ 'user.forgetPassword.backToLogin' | translate }}
    </footer>
  </div>
}
