.gradient-button {
  background: linear-gradient(90deg, #21910a 0%, #88cb1a 100%);
  background-size: 150% 100%;
  background-position: center;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: background-position 0.4s ease-in-out;

  &:hover {
    background-position: right;
  }
}

@media (max-width:768px){
  .gradient-button{
    padding: 10px 10px;
  }
}
