@import '../../../../sass/variables';
@import '../../../../sass/colors';

@mixin scaleAnimation() {
  cursor: pointer;

  transition: all 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

header {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 22px;
    font-weight: bold;
    text-align: start;
  }

  img {
    width: 35px;
    cursor: pointer;

    transition: all 0.1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  margin-bottom: 10px;
}

.message {
  text-align: start;
  font-size: 12px;
  margin-bottom: 10px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

::ng-deep swiper-container {
  --swiper-navigation-color: #213567;
  --swiper-navigation-size: 24px;
  overflow: visible !important;
  position: relative;
  display: block;

  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    background-color: transparent;
    height: 28px;
    width: 28px;
    color: #213567;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    border: 1px solid #213567;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      font-size: 16px;
    }
  }

  /* LTR Positioning */
  swiper-container::part(button-next) {
    right: -25px;
    left: auto;
  }

  swiper-container::part(button-prev) {
    left: -25px;
    right: auto;
  }

  /* RTL Positioning */
  swiper-container[dir='rtl']::part(button-next),
  :host-context([dir='rtl']) swiper-container::part(button-next),
  [dir='rtl'] swiper-container::part(button-next) {
    left: -25px;
    right: auto;
  }

  swiper-container[dir='rtl']::part(button-prev),
  :host-context([dir='rtl']) swiper-container::part(button-prev),
  [dir='rtl'] swiper-container::part(button-prev) {
    right: -25px;
    left: auto;
  }
}

@media (max-width: 768px) {
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 28px;
    height: 28px;
    border: 1px solid #213567;
    border-radius: 50%;
    padding: 0;
  }

  swiper-container::part(button-next) {
    right: 2px !important;
    left: auto !important;
  }

  swiper-container::part(button-prev) {
    left: 2px !important;
    right: auto !important;
  }

  swiper-container[dir='rtl']::part(button-next),
  :host-context([dir='rtl']) swiper-container::part(button-next),
  [dir='rtl'] swiper-container::part(button-next) {
    left: 2px !important;
    right: auto !important;
  }

  swiper-container[dir='rtl']::part(button-prev),
  :host-context([dir='rtl']) swiper-container::part(button-prev),
  [dir='rtl'] swiper-container::part(button-prev) {
    right: 2px !important;
    left: auto !important;
  }

  ::ng-deep .swiper-pagination-bullets {
    display: none !important;
  }
}
