.section {
  height: auto;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 10px;
}

.passengers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom_modal {
  height: none;
  width: none;

  border-radius: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}