@if (mostSearchedFlight && mostSearchedFlight.searchCriteria) {
  <button
    type="button"
    class="fare-card"
    (click)="mostSearchedFlightsService.goToSearchResults(mostSearchedFlight.searchCriteria)"
  >
    <img
      [src]="displayImage"
      (error)="onImgError()"
      title="Photo"
      class="fare-card__img"
    />
    <span class="fare-card__body">
      <span class="fare-card__title">{{ cityName }}</span>
      @if (metaLabel) {
        <span class="fare-card__meta">{{ metaLabel }}</span>
      }
      <span class="fare-card__price">
        <span class="fare-card__from">{{ 'home.fareCard.from' | translate }}</span>
        <strong>
          {{ mostSearchedFlight.searchCriteria.currency | exchange: 'code' }}
          {{ mostSearchedFlight.originalPrice | discount: mostSearchedFlight.discountPercentage | exchange: 'value' }}
        </strong>
      </span>
    </span>
  </button>
}
