@import '../../../../../../sass/variables';
@import '../../../../../../sass/colors';

.flight-deal-card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 12px;

  border-radius: $base-radius;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  margin: 10px auto;

  &__img {
    border-radius: $base-radius;
    height: 220px;
    object-fit: cover;
  }

  &__body {
    display: flex;
    justify-content: space-between;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__flight-type {
        font-weight: bold;
      }
    }

    &__percentage {
      font-size: 18px;
      font-weight: bold;

      padding: 12px;
      border-radius: $base-radius;

      color: map-get($map: $colors, $key: 'main');
      background-color: #daedfe;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    &__time {
      font-weight: 400;
      color: map-get($map: $colors, $key: 'gray');
    }

    &__price {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      font-weight: bold;

      &__old {
        font-size: 14px;
        color: map-get($map: $colors, $key: 'gray');
      }

      &__new {
        font-size: 14px;
      }
    }

    &__action {
      flex-basis: 100%;
      display: flex;
      justify-content: end;
    }
  }
}

p{
  margin-bottom: 0 !important;
}