@import '../../../../../../sass/variables';
@import '../../../../../../sass/colors';

.date-group {
  display: flex;
}

.form-group {
  position: relative;
  width: 50% !important;
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  height: 52px;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  label {
    margin-bottom: 8px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .input-group {
    position: relative;
    height: 100%;
    cursor: pointer;
  }

  .date-display {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 0 6px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.checkin-group, .checkout-group {
  position: relative;
  border: 1px solid black;
  transition: border-color 0.3s ease;
  padding: 20px 15px;

  &.invalid {
    border-color: #f44336;
  }
}


