.search-box-wrapper {
  background-color: white;
  border-radius: 12px;
  padding: 19px 19px 5px;
  min-height: 204px;
  max-height: 205px;
  
  @media (max-width: 1200px) {
    padding: 8px 10px 15px;
  }
}
