@import '../../../../../../../sass/variables';
@import '../../../../../../../sass/colors';

.cabin {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: $inputs-height - 1px;
  box-sizing: border-box;

  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;

  &__placeholder {
    font-size: 13px;
    color: #555;
    margin: 0;
    margin-bottom: 0;
  }

  &__guests {
    font-weight: 700;
    font-size: 13px;
    color: #111;
    margin: 0;
  }

  &__type {
    font-size: 12px;
    font-weight: 600;
    color: #777;
    margin: 0;
  }
}

.cabin-menu {
  border-radius: 6px;

  &__guests__list,
  &__options__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  &__guests__list {
    width: 17rem;

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 12px;

      &__btns__left,
      &__btns__right {
        height: 24px;
        width: 24px;

        border-radius: 50%;
        border: 1px solid;
        color: map-get($map: $colors, $key: 'gray');
        cursor: pointer;

        transition: all 0.2s;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(1);
        }
      }

      &__btns__right {
        color: white;
        background-color: map-get($map: $colors, $key: 'main');
      }
    }
  }

  &__options__list {
    display: grid;
    gap: 10px;
    padding: 12px;

    &__item {
      border: 1px solid #d7dddb;
      border-radius: 6px;
      padding: 10px 25px;

      cursor: pointer;
      transition: all 0.2s;

      &.active,
      &:hover {
        color: map-get($map: $colors, $key: 'main');
        border-color: map-get($map: $colors, $key: 'main');
        background-color: #f5faf1;
      }
    }
  }

  &__button {
    margin: 12px;
  }
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}