<div class="hotel-deal-card">
  <div class="hotel-deal-card__img-container">
    <img
      [src]="deal?.image || image || 'assets/images/popular/Dubai 3.png'"
      [title]="deal?.name || 'Hotel Photo'"
      class="hotel-deal-card__img"
    />
  </div>

  <div class="hotel-deal-card__info">
    <div class="hotel-deal-card__info__header">
      <span class="hotel-deal-card__info__header__hotel-type">{{ deal?.type || 'Luxury' }}</span>
      <span class="hotel-deal-card__info__header__percentage">{{ deal?.discount || '-30%' }}</span>
    </div>

    <h3 class="hotel-deal-card__info__hotel-name">{{ deal?.name || 'Fairmont Resort, Dubai United Arab Emirates' }}</h3>

    <div class="hotel-deal-card__info__location">
      <img
        src="assets/icons/location-home-icon.svg"
        alt="Location Icon"
        class="hotel-deal-card__info__location__icon"
      />
      <span class="hotel-deal-card__info__location__text">{{ deal?.location || 'Dubai, UAE' }}</span>
    </div>

    <div class="hotel-deal-card__info__footer">
      <span class="hotel-deal-card__info__footer__price">{{ deal?.price || '48.25$' }}/Night</span>
      <button type="button" class="hotel-deal-card__info__footer__btn">Book now</button>
    </div>
  </div>
</div>
