<div class="hotel-deal-card row">
  <img [src]="image" title="Photo" class="hotel-deal-card__img col-12 col-lg-5" />

  <div class="hotel-deal-card__info col-12 col-lg-7">
    <div class="hotel-deal-card__info__header">
      <p class="hotel-deal-card__info__header__hotel-type">Luxury</p>
      <p class="hotel-deal-card__info__header__percentage">-30%</p>
    </div>

    <p class="hotel-deal-card__info__hotel-name">Fairmont Resort, Dubai United Arab Emirates</p>

    <div class="hotel-deal-card__info__location">
      <img
        src="assets/icons/location-home-icon.svg"
        alt="Location Icon"
        class="hotel-deal-card__info__location__icon"
      />
      <span class="hotel-deal-card__info__location__text">Dubai, UAE</span>
    </div>

    <div class="hotel-deal-card__info__footer">
      <span class="hotel-deal-card__info__footer__price">48.25$/Night</span>
      <button class="hotel-deal-card__info__footer__btn">Book now</button>
    </div>
  </div>
</div>
