@import '../../../../../sass/variables';
@import '../../../../../sass/colors';

.side-nav-content {
  display: flex;
  flex-direction: column;

  margin-block: 40px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style: none;

    li {
      display: flex;
      align-items: center;
    }
  }
}

a.active {
  color: map-get($map: $colors, $key: 'main');
  font-weight: bold;
}
