.container-fluid{
  padding: 0 !important;
}

.slider {
  width: 95%;
}

.prices {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  &__min,
  &__max {
    flex-grow: 1;
    height: 79px;
  }
}
