.price-range {
  padding: 0;
}

.slider {
  width: 100%;
}

.prices {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 2px;
}

:host ::ng-deep .mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #ffffff;
  --mdc-slider-focus-handle-color: #ffffff;
  --mdc-slider-hover-handle-color: #ffffff;
  --mdc-slider-active-track-color: #5029f4;
  --mdc-slider-inactive-track-color: #e6e3f0;
  --mdc-slider-with-tick-marks-active-container-color: #5029f4;
  --mat-slider-active-track-color: #5029f4;
  --mat-slider-inactive-track-color: #e6e3f0;
  --mat-slider-handle-color: #ffffff;
  --mat-slider-focus-handle-color: #ffffff;
  --mat-slider-hover-handle-color: #ffffff;

  .mdc-slider__thumb-knob {
    border: 2px solid #5029f4;
  }
}
