<div class="text-wrapper">
  <h2>{{ 'home.hotelDeals.title' | translate }}</h2>
  <p class="home-paragraph">{{ 'home.hotelDeals.description' | translate }}</p>
</div>

<swiper-container #swiperEl>
  <swiper-slide *ngFor="let img of images">
    <app-hotel-deals-card [image]="img"></app-hotel-deals-card>
  </swiper-slide>

  <swiper-slide *ngFor="let img of images">
    <app-hotel-deals-card [image]="img"></app-hotel-deals-card>
  </swiper-slide>

  <swiper-slide *ngFor="let img of images">
    <app-hotel-deals-card [image]="img"></app-hotel-deals-card>
  </swiper-slide>

  <swiper-slide *ngFor="let img of images">
    <app-hotel-deals-card [image]="img"></app-hotel-deals-card>
  </swiper-slide>
</swiper-container>
