<article class="hotel-card row justify-content-center gap-0">
  <section class="hotel-card__left col-10 col-lg-5">
    <div class="hotel-card__left__icons">
      <img src="assets/icons/userPage/hotel-card-icon.svg" title="Flight Icon" />
      <img src="assets/icons/userPage/checked-card-icon.svg" title="Check Icon" />
    </div>

    <img class="hotel-card__left__img" src="assets/images/mission.jpg" title="Hotel Card Image" />
  </section>

  <section class="hotel-card__right col-10 col-lg-5">
    <div class="hotel-card__right__top">
      <p class="hotel-card__right__top__title">Dubai to Venice</p>
      <p class="hotel-card__right__top__info">23 June 2015. to 26 June 2015. Roundtrip</p>
      <p class="hotel-card__right__top__info">Ticket # 743376929087</p>
    </div>

    <div class="hotel-card__right__down">
      <p class="hotel-card__right__down__sub-title">Itinerary Number</p>
      <p class="hotel-card__right__down__sub-info">28342HG237</p>

      <p class="hotel-card__right__down__sub-title">Egypt Air Booking Ref</p>
      <p class="hotel-card__right__down__sub-info">JH8U63</p>
    </div>
  </section>
</article>
